
body{
  background-color: #FCF8E8;
}

hr{

  border-style: none;
  border-top-style: dotted;
  border-color: #94B49F;
  border-width: 5px;
  width: 10%;

}
h1{
  color: #3FA796;
}

h3{
  color: #3FA796;
}
